.App {
    background:rgb(238, 69, 64);
    background: linear-gradient(
        180deg,
        rgb(64, 203, 238)0%,
        rgb(44, 98, 199)15%,
        rgb(19, 63, 128)35%,
        rgb(10, 49, 81)45%,
        rgb(25, 20, 45)100%);
    height: 100vh;
    
}